@import 'components/header';
@import 'components/cuerpoindex';
@import 'components/footer';

* {
    padding: 0;
    margin: 0;
}


.titulo_secciones{
    font-family: 'Outfit', sans-serif;
    font-size: 2.5vw;
    color: rgb(7, 7, 7);
    text-align: center;
    margin-top: 3%;
    margin-bottom:2%;

}


.filtro{
   
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;

    
}
.iconos{
    padding-top: 2%;
    padding-bottom: 3%;
    width: 4%;
    height: 5%;
   }
.iconos_camisa{
padding-top: 1.5%;
   
    width: 8%;
    height: 7vw ;
}
.lupa{
    width: 1.5%;
    padding-top: 1%;
    padding-left: 1%;
       
}


.formulario_cuenta{
    padding-left: 30%;
    padding-right: 30%;
    display: flex;
     flex-direction: column;
     align-content: space-around;
}
.titulo{
    padding-right: 10%;
    font-size: x-large;
    

    padding-top: 3%;
    padding-bottom: 2%;
}
.completar_datos{
    padding-left: 31%;
    padding-bottom: 2%;
}



.pagination{
    
    padding-top: 7%;
    display: flex;
    justify-content: center;
}
.navbar{
    
  background-color: rgb(184, 184, 201);
}


.row{
   height: 30vw;
    
}
.col{
    
    gap: 5%;
    
}
.productos__item_productos{
    
    height: 30vw;
}
.imagen_producto{
    width: 100%;
    height: 90%;
}
.precio{
display: flex;
justify-content: right;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: x-large;
}
/* Responsive */

@media only screen and (min-width: 481px) and (max-width: 960px){
    .container .col{
        width: 50%;
       
      
     }
     .precio{
        font-size: medium;
     }
     .row{
       height: 90vw; 
     }
     .productos__item_productos{
        height: 45vw;
     }
   
    

}

@media only screen and (max-width:480px){
    .precio{
        display: flex;
        justify-content: center;
        font-size: small;
    }
   
    .container .col{
        width: 50%;
      
     }
     .row{
       height: 90vw; 
     }

     .productos__item_productos
     {
        height: 40vw;
     }
       .cabecera_top_links{
        font-size: small;
        padding: 1%;
       }

.logo{
    width: 60%;    
    }
    .bton{
        width:20vw;
      font-size: xx-small;
      text-align: center;
    }
   
    .d-block{
        height: 25vh;
    }

    .inf-empresa .btn{
        width: 60px;
        height: 30px;
        font-size: 50%;
        text-align: center;
      }
     

     #contacto .mapa{
        height: 40px;
      }

      .icono_contacto{
        width: 25%;
       height: 25%;
      }
}

/* Fin Responsive */ 