*{
    padding: 0;
    margin: 0;
}
#cabecera{
 
    background-image: url(Multimedia/Imagenes/Iconos/storm.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
     height: 5%;
     border-bottom: 5vh solid rgb(148, 144, 180);

}

.cabecera_top_links{
    display: flex;
    justify-content: space-between;
    padding-right: 25px;
    list-style-type: none;
    font-size: large;
    background-color: rgb(148, 144, 180);
     }

.block_logo{
    display: flex;
    justify-content: center;
}

#cuerpo{
  
    background-color: rgb(184, 184, 201);
     
}

.img1{
    width: 140vh;
    margin: 2% 17%;
    padding-top: 3%;
}
.empresa{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    padding-top: 3%;
}

#contacto{
    padding-top: 3%;
   
}
.mapa{
     width:28%;
    height: 15vh;
   
}
.ubicacion{
    display: flex;
    justify-content: center;
    padding-top: 6%;
    padding-bottom: 2%;

}

.pie_lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    
}

#contacto .icono_contacto{
  
    width: 25%;
}
.titulo_secciones{
    font-family: 'Outfit', sans-serif;
    font-size: 2.5vw;
    color: rgb(7, 7, 7);
    text-align: center;
    margin-top: 3%;
    margin-bottom:2%;

}
.filtro{
    
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;

    
}
.iconos{
    padding: 1.5%;
    width: 6%;
    height: 5;
   }
.iconos_camisa{
    width: 10%;
}
.lupa{
    width: 1.5%;
    padding-top: 1%;
    padding-left: 1%;
       
}


.formulario_cuenta{
    padding-left: 30%;
    padding-right: 30%;
    display: flex;
     flex-direction: column;
     align-content: space-around;
}
.titulo{
    padding-right: 10%;
    font-size: x-large;
    

    padding-top: 3%;
    padding-bottom: 2%;
}
.completar_datos{
    padding-left: 31%;
    padding-bottom: 2%;
}


/*Animaciones, transiciones*/


.block_logo .logo:hover{
    transform: rotateX(350deg);
    transition: all 2.5s ease-in-out;
}


/*Bootstrap Carousel*/

#carouselExampleControls{
    margin-top: 5%;
    margin-bottom: 3%;
    
 
     
}
.d-block{
     height: 50vh;
}
/* Fin Carousel */


.collapse .card{
    background-color: rgb(184, 184, 201);
    border: none;
}

.inf-empresa{
  text-align: center;
}

.pagination{
    
    display: flex;
    justify-content: center;
}
.navbar{
    
  background-color: rgb(184, 184, 201);
}

.button-group{
    display: flex;
    justify-content: space-around ;
    padding-top: 2%;
   }
.bton{
    padding: 1% 2%;
    border-radius: 0.375rem;;
   border: solid rgb(124, 92, 145) 1px;
   text-decoration: none;
   font-family: fantasy;
   font-size: large;
    
}
.bton:hover{
    background-color: rgb(148, 144, 180);
}


.row{
   height: 30vw;
    
}
.col{
    
    gap: 5%;
    
}
.productos__item_productos{
    
    height: 30vw;
}
.imagen_producto{
    width: 100%;
    height: 90%;
}
.precio{
display: flex;
justify-content: right;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: x-large;
}
/* Responsive */

@media only screen and (min-width: 481px) and (max-width: 960px){
    .container .col{
        width: 50%;
       
      
     }
     .precio{
        font-size: medium;
     }
     .row{
       height: 90vw; 
     }
     .productos__item_productos{
        height: 45vw;
     }
   
    

}

@media only screen and (max-width:480px){
    .precio{
        display: flex;
        justify-content: center;
        font-size: small;
    }
   
    .container .col{
        width: 50%;
      
     }
     .row{
       height: 90vw; 
     }

     .productos__item_productos
     {
        height: 40vw;
     }
       .cabecera_top_links{
        font-size: small;
        padding: 1%;
       }

.logo{
    width: 60%;    
    }
    .bton{
        width:20vw;
      font-size: xx-small;
      text-align: center;
    }
   
    .d-block{
        height: 25vh;
    }

    .inf-empresa .btn{
        width: 60px;
        height: 30px;
        font-size: 50%;
        text-align: center;
      }
     

     #contacto .mapa{
        height: 40px;
      }

      .icono_contacto{
        width: 25%;
       height: 25%;
      }
}

/* Fin Responsive */ 
