#contacto {
    padding-top: 3%;

    div {
        display: flex;
        justify-content: center;
        padding-top: 6%;
        padding-bottom: 2%;

        iframe {
            width: 28%;
            height: 15vh;

            @media only screen and (max-width:480px){
                height: 40px;
            }
        }

    }

    ul {
        background-color: rgba(121, 105, 167, 0.205);
        @include flex(flex,center);
        list-style-type: none;
        height: 8vh;
        align-items: center;
        .icono_contacto {
            margin-left: 22%;
            width: 25%;
            
            &:hover{
                width: 38%;
                transition: 60ms;
            }
            
            @media only screen and (max-width:480px){
                width: 25%;
                height: 25%;
            }
        }

    }
}

















