#cabecera {

    background-image: url(../Multimedia/Imagenes/Iconos/storm.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 5%;
    border-bottom: 5vh solid rgb(148, 144, 180);

    nav {
        ul {
            display: flex;
            justify-content: space-between;
            padding-right: 25px;
            list-style-type: none;
            font-size: large;
            background-color: rgb(148, 144, 180);
 

        }
    }

    div {
        display: flex;
        justify-content: center;

        img {
            &:hover {
                transform: rotateX(350deg);
                transition: all 2.5s ease-in-out;
            }
        }
    }




}