
#cabecera{
  
   nav{
        ul {
            display: flex;
            justify-content: space-between;
            padding-right: 25px;
            list-style-type: none;
            font-size: medium;
            background-color:rgba(121, 105, 167, 0.205);
            @media only screen and (max-width:480px){
                 font-size: small;
                 padding: 1%;
                }
        }
    }

    div{
        @include flex(flex,center);
        
        img{
            width: 30%;
            &:hover {
                transform: rotateX(350deg);
                transition: all 2.5s ease-in-out;
            }
        }
    }

    @media only screen and (max-width:480px){
         .logo{
      width: 60%;    
         }
    }

}